<div class="row">
  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p>My name is Amir Vassell and I am a web developer and programmer with a passion for my talent and a drive to
        constantly learn and hone my skills. I believe that technology is a powerful tool that can be used to solve
        problems, create new opportunities and enhance people's lives. That is why I am dedicated to mastering my craft
        and delivering high-quality, innovative solutions to my clients.</p>
      <p>From a young age, I have been fascinated by the potential of technology to change the world. This led me to
        pursue a career in web development and programming. I have dedicated myself to learning as much as I can about
        these fields, including HTML, CSS, JavaScript, React and other programming languages. I have also taken numerous
        courses and workshops to deepen my knowledge and stay up-to-date with the latest trends and technologies.</p>
      <p>I am a creative and analytical problem-solver who thrives on the challenges of designing and building
        effective, user-friendly websites and applications. I am also a skilled communicator and collaborator, who
        enjoys working with others to bring their visions to life. Whether I am working with a team or on my own, I am
        committed to delivering high-quality, efficient and user-friendly solutions.</p>
      <p>In addition to my technical skills, I am also a highly motivated and enthusiastic individual who is eager to
        learn and grow. I am constantly seeking new opportunities to develop my skills and expand my knowledge, and I am
        always open to feedback and constructive criticism. Whether I am working on a new project, attending a workshop
        or meeting with clients, I bring my positive energy, enthusiasm and passion to everything I do.</p>
      <p>In conclusion, I am Amir Vassell, a web developer and programmer who is dedicated to delivering high-quality,
        innovative solutions. With my passion for technology, my drive to learn and my commitment to delivering the best
        results possible, I am confident that I can make a valuable contribution to any project. Whether you are looking
        to build a new website, create an application or take your digital presence to the next level, I would be
        honored to work with you to make it happen.</p>


    </article>
  </section>
</div>