 <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>My name is Amir Vassell and I am 20 years old. Listening to music and playing soccer are two out of many things I enjoy in my spare time. I also take great interest in coding. It is more of a hobby to me than work and I will use this hobby to innovate in any way possible</p>
          <p>If I wanted to be like everybody else, I would do what everybody else does. Life teaches me, as a young man growing up, life teaches me to survive, it teaches me to hunt for what I want because there is nobody that is going to be there to give it to me for free, it boils down to what I work for. These lessons life is teaching me from a young age develops hunger in me. Hungry for power, hungry for wealth, hungry for everything that I want to acheive. What do people do when they are hungry? They go out and get what they are hungry for. It is this same concept that has me going for what I want. I will work towards everything that I want to acheive because I am hungry for it, I want it and I will go for it no matter the circumstances. My ultimate goal in life is to build a hotel, also a line of hotels. I have a plan, a plan so vast that if I acheive half of it my life will be fine. This plan will lead me on the road to riches. This field I am in is the base line for my beginning. This is where it it will all start. I love coding, it is more of a hobby to me than work. I will use this hobby to innovate in any way possible. My life is revolving around success. That is my aim, that is my vision.</p>
          
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>GREAT THINGS ARE COMING SOON ;).</p>
        </aside>
      </div>